#header {
	font-size: 3em;
	background-color: darkgray;
}

nav a {
	color: white;
}

.card-header {
	font-size: 1.5em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #9e9fa0;
}

a{
	color: #272727;
}